body.body1 {
    background-color: #B2F3F2;
}

body.body2 {
    background-color: #F3D51C;
}

.landing-page {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
}

#rotate {
    width: 20%;
    position: relative;
    left: 275px;
    top: -150px;
    right: 0px;
}

h1 {
    font-family: 'Satisfy', cursive;
}

h1.title1 {
    color: #F3D51C;
    text-shadow: 2px 2px 4px #000000;
    font-size: 500%;
    transform: rotate(-5deg);
}

h1.title2 {
    color: #F3D51C;
    text-shadow: 2px 2px 4px #000000;
    font-size: 500%;
    transform: rotate(3deg);
}

.title1 {
    position: relative;
    left: 375px;
    margin: 0;
}

.title2 {
    position: relative;
    left: 525px;
    margin: 0;
    padding-top: 2%;
}

h3.vincent {
    color: #0A365F;
    font-family: 'Neucha', cursive;
    text-align: center;
}

.vincent {
    padding: 0%;
    margin: 0;
}

.info {
    text-align: center;
}

h4.info {
    color: #0A365F;
    font-family: 'Neucha', cursive;
    border-radius: 25px;
    background: #B9C4B9;
    padding: 20px;
    width: 215px;
    height: 15px;
    margin: auto;
    border-bottom: 70px;
}

p {
    font-family: 'Neucha', cursive;
}

p.intro {
    color: #0A365F;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;
    background: #B9C4B9;
    padding: 20px;
    width: 300px;
    height: 425px;
    margin: auto;
}

img.backbutton {
    width: 5%;
}

img.si1{
    width: 80%;
    height: 90%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


#row {
    display: flex;
    /* use row for desktop and tablet layout */
    flex-direction: row;
    /* wrap is used with tablets layout to create an extra row */
    flex-wrap: wrap;
}

.column {
    /* flex 1 sets flex-grow to 1, flex-shrink to 1 and flex-basis to 1
    flex-basis of 1 means children colums will have equal width */
    flex: 1;
    /* because box-sizeing = border box, padding is counted as part of the overall width of the column */
    padding: 10px;
}

p.back {
    color: #0A365F;
}

.back {
    margin: 0;
    position: relative;
    left: 35px;
    bottom: 30px;
}

h1.sunflower1 {
    color: #B2F3F2;
    text-shadow: 2px 2px 4px #000000;
    font-size: 700%;
    transform: rotate(-5deg);
}

h1.number1 {
    color: #B2F3F2;
    text-shadow: 2px 2px 4px #000000;
    font-size: 900%;
    transform: rotate(-5deg);
}

.sunflower1 {
    position: relative;
    left: 30px;
    bottom: 100px;
    margin: 0;
}

.number1 {
    position: relative;
    left: 220px;
    bottom: 170px;
    margin: 0;
}

h1.sunflower2 {
    color: #F3D51C;
    text-shadow: 2px 2px 4px #000000;
    font-size: 700%;
    transform: rotate(5deg);
}

h1.number2 {
    color: #F3D51C;
    text-shadow: 2px 2px 4px #000000;
    font-size: 900%;
    transform: rotate(5deg);
}

.sunflower2 {
    position: relative;
    left: 1000px;
    bottom: 40px;
    right: 0px;
    margin: 0;
}

.number2 {
    position: relative;
    left: 1200px;
    bottom: 80px;
    margin: 0;
}

.titlerow{
    position: relative;
    bottom: 10px;
}

.sunflowerrow{
    position: relative;
    bottom: 175px;
}

.sunflowerrow2{
    position: relative;
    bottom: 200px;
    padding-left: 60px;
    padding-right: 80px;
}

p.s1 {
    color: #0A365F;
    font-size: 36px;
    text-align: center;
    border-radius: 25px;
    background: #B2F3F2;
    padding: 20px;
    width: 500px;
    height: 607px;
    margin: auto;
}

p.s2 {
    color: #0A365F;
    font-size: 38px;
    text-align: center;
    border-radius: 25px;
    background: #F3D51C;
    padding: 20px;
    width: 500px;
    height: 620px;
    margin: auto;
}

p.s3 {
    color: #0A365F;
    font-size: 43px;
    text-align: center;
    border-radius: 25px;
    background: #B2F3F2;
    padding: 20px;
    width: 500px;
    height: 600px;
    margin: auto;
}

p.s4 {
    color: #0A365F;
    font-size: 39px;
    text-align: center;
    border-radius: 25px;
    background: #F3D51C;
    padding: 20px;
    width: 500px;
    height: 560px;
    margin: auto;
}

p.s5 {
    color: #0A365F;
    font-size: 45.5px;
    text-align: center;
    border-radius: 25px;
    background: #B2F3F2;
    padding: 20px;
    width: 500px;
    height: 600px;
    margin: auto;
}

p.s6 {
    color: #0A365F;
    font-size: 40px;
    text-align: center;
    border-radius: 25px;
    background: #F3D51C;
    padding: 20px;
    width: 500px;
    height: 580px;
    margin: auto;
}

p.s7 {
    color: #0A365F;
    font-size: 42px;
    text-align: center;
    border-radius: 25px;
    background: #B2F3F2;
    padding: 20px;
    width: 500px;
    height: 600px;
    margin: auto;
}